<!-- <!doctype html> -->
<html>
{{#each foo}}
{{this}}
{{/each}}
    <tr>
      <td>Star War Relationship Between character and planet(One-Many)</td>
    </tr>
    <div>
      <table>

        <h3>Current Star War Relationship</h3>

        <tr>
          <td>Name</td>
          <!-- <td>Last Name</td> -->
          <td>Planet</td>
        </tr>
      <tbody>
        {{#each character}}
        <tr>
          <td>{{fname}} {{lname}}</td>
          <td>{{homeworld}}</td>
          <!-- <td>{{character_id}}</td> -->
          <td><button onclick="De_associate({{character_id}})">De-associate</button></td>
          <td><a href="/one2m/{{character_id}}">Update</a></td>
        </tr>
        {{/each}}
      </tbody>
      </table>
    </div>

    <h2>
      <a href='/'>Back to main page</a>
    </h2>

</html>
