<html>
<h1>Update {{fname}} {{lname}}:</h1>
<form id="update-character" action="/character" method="post">
    First name: <input type="text" name="fname" value="{{fname}}"><br>
    Last name: <input type="text" name="lname" value="{{lname}}"><br>
    Side: <select name="Side">
            <option value="1">Rebal</option>
            <option value="2">Empire</option>
            <option value="3">Neutral</option>
          </select><br>
    Planets: <select name="planet_id" id="planet-selector">
      {{#each planets}}
      <option value="{{planet_id}}">{{name}}</option>
      {{/each}}
    </select><br>
    Race: <input type="text" name="race" value="{{race}}"><br>
</form>
<button onclick="updatecharacter({{character.id}})">Update</button>
<!-- <script defer>selectPlanet({{character.homeworld}});</script> -->
</html>
