<html>
<div>
<h1>Update {{person.fname}} {{person.lname}}:</h1>
<form id="updatespecificperson" action="/character" method="put">
    ID: {{person.character_id}}<br>
    First name: <input type="text" name="fname" value="{{person.fname}}"><br>
    Last name: <input type="text" name="lname" value="{{person.lname}}"><br>
    Side: <select name="Side">
            <option value="Rebal">Rebal</option>
            <option value="Empire">Empire</option>
            <option value="Neutral">Neutral</option>
          </select><br>
    Planets: <select name="planet_id" id="planet-selector">
      {{#each planets}}
      <option value="{{planet_id}}">{{name}}</option>
      {{/each}}
    </select><br>
    Race: <input type="text" name="race" value="{{person.race}}"><br>
    <button onclick="updatePerson({{person.character_id}})">Update</button>
</form>
<!-- <script defer>selectPlanet({{character.homeworld}});</script> -->
</div>
</html>
