<!-- <!doctype html> -->
<html>
{{#each foo}}
{{this}}
{{/each}}
<head>
	<title>M2M Page</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>

  <tr>
    <td>Change Character's weapon(Many to Many Relationship)</td>
  </tr>
<div>
<h3> Associate weapon with a character </h3>
    <form id="add_weapon_character" action="/weapon_character" method="post">
    Character: <select name="cid">
			{{#each character}}
				<option value = '{{cid}}'>{{fname}} {{lname}}</option>
			{{/each}}
    </select><br>
    Weapon:<sup>Multi-select</sup> <select multiple name="wid">
				{{#each weapon}}
				<option value = "{{wid}}">{{name}}</option>
				{{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>
</div>


<h3> List of character with their weapon </h3>
<table>
    <thead>
        <th>Name</th>
        <th>Weapon</th>
    </thead>
    <tbody>
			{{#each weapon_character}}
			<tr>
					<td>{{c_name}}</td>
					<td>{{name}}</td>
					<!-- <td>{{cid}}</td>
					<td>{{wid}}</td> -->
					<td><button onclick = "deleteCharacter_weapon({{wid}},{{cid}})">Delete</button></td>
					<!-- <td><a href='/weapon_character/{{cid}},{{wid}}'>Update</a></td> -->
			</tr>
			{{else}}
        <b> No character with any weapon found! Grant some using the form. </b>
				{{/each}}
    </tbody>
</table>

<h2>
	<a href='/'>Back to main page</a>
</h2>

</html>
